.navbar{
    width: 100%;
    height: 8%;
    display: flex;
    gap: 10px;
    align-content: center;
    background: rgb(255,66,66);
    background: linear-gradient(180deg, rgba(255,66,66,1) 0%, rgba(207,113,1,1) 21%, rgba(203,164,41,1) 96%);
}

.navbar-menu{
    display: flex;
    align-items: center;
}

.navbar-tools{
    display: flex;
    align-items: center;
}